
/* ==UserStyle==
@name           labs.perplexity.ai - Jan 2024
@namespace      github.com/openstyles/stylus
@version        1.0.1
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document url("https://labs.perplexity.ai/")  {
	
	
	
	
		/* Insert code here... */
	/*Font Import */
	/*Importing Margon */
	/*Margon Medium Import */
	@font-face {
		font-family: "Margon 360 W08 Medium";
		src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot");
		src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.svg#Margon 360 W08 Medium")format("svg");
	}


	@import url(https://db.onlinewebfonts.com/c/90100147a9b552a477200bfb737766e5?family=Margon+360+W08+Medium);




	/*Bricolage Grotesque Import */
	@font-face {
		font-family: "Bricolage Grotesque";
		src: url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.eot");
		src: url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.svg#Bricolage Grotesque")format("svg");
	}



	@import url(https://db.onlinewebfonts.com/c/102353a74d2e0700af3e11ef8a917b26?family=Bricolage+Grotesque);






	/*Lora Font Import*/
	@font-face {
		font-family: "Lora";
		src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot");
		src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.svg#Lora")format("svg");
	}






	@import url(https://db.onlinewebfonts.com/c/5c803199923a6ed48112bebbb486b3e0?family=Lora);







	/*Lingistics Pro Font  */
	@font-face {
		font-family: "Linguistics Pro";
		src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot");
		src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.svg#Linguistics Pro")format("svg");
	}
	@import url(https://db.onlinewebfonts.com/c/3612352f3b0606a3a5d675e7279f7c17?family=Linguistics+Pro);





	/*Commit Mono*/
	@font-face {
		font-family: "CommitMono";
		src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot");
		src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.svg#CommitMono")format("svg");
	}



	@import url(https://db.onlinewebfonts.com/c/3d911dba955015058da8755197d0a58c?family=CommitMono);





	/*Fira Mono */
	/* 
	
	Fira Mono font weights:
  - Fira Mono 400 (Regular)
  - Fira Mono 500 (Medium)
  - Fira Mono 700 (Bold)
*/
	/* fira-mono-regular - latin */
	/* fira-mono-latin-400-normal */
	/* fira-mono-latin-400-normal */
	@font-face {
		font-family: 'Fira Mono';
		font-style: normal;
		font-display: auto;
		font-weight: 400;
		src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.ttf) format('truetype');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}








	/* Spline Sans */
	/* spline-sans-latin-wght-normal */
	@font-face {
		font-family: 'Spline Sans Variable';
		font-style: normal;
		font-display: auto;
		font-weight: 300 700;
		src: url(https://cdn.jsdelivr.net/fontsource/fonts/spline-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}















	/*Hack Font */
	@font-face {
		font-family: "Hack";
		src: url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.eot");
		src: url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.svg#Hack")format("svg");
	}














	/*Karla Font Testing */
	@font-face {
		font-family: "Karla";
		src: url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot");
		src: url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.svg#Karla")format("svg");
	}















	@font-face {
		font-family: "Karla Medium";
		src: url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.eot");
		src: url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.svg#Karla Medium")format("svg");
	}







	@font-face {
		font-family: "Karla Bold";
		src: url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.eot");
		src: url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.svg#Karla Bold")format("svg");
	}













	/*Archivo Font */
	@font-face {
		font-family: "Archivo";
		src: url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.eot");
		src: url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.svg#Archivo")format("svg");
	}






/* literata-latin-wght-normal */
@font-face {
  font-family: 'Literata Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/literata:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}




	
	/* jetbrains-mono-latin-wght-normal */
@font-face {
  font-family: 'JetBrains Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
    /* Insert code here... */
	
	:root {
    --bg0-dh: #1d2021;
    --bg1-dark: #3c3836;
    --bg-dark: #282828;
    --bg2-dark: #504945;
    --bg3-dark: #665c54;
    --bg4-dark: #7c6f64;
    --bg5-dark: #928374;
    --bg_visual: #503946;
    --bg_red: #cc241d;
    --bg_green: #98971a;
    --bg_blue: #458588;
    --bg_yellow: #d79921;
    --shadow: #16181a;
    --shadow-var1: #17191b;
    --shadow-cur: #1a1b1d;
    --fg-dark: #ebdbb2;
    --grey0-dark: #7f897d;
    --grey1-dark: #859289;
    --grey2-dark: #9aa79d;
    --faded-red: #fb4934;
    --faded-orange: #fe8019;
    --faded-yellow: #fabd2f;
    --faded-green: #b8bb26;
    --faded-aqua: #8ec07c;
    --faded-blue: #83a598;
    --faded-purple: #d3869b;
    --dim-red: #cc241d;
    --dim-orange: #d65d0e;
    --dim-yellow: #d79921;
    --dim-green: #98971a;
    --dim-aqua: #689d6a;
    --dim-blue: #458588;
    --dim-purple: #b16286;
    --bg0-light: #f0edd8;
    --bg1-light: #f6f1dd;
    --bg2-light: #f3efda;
    --bg3-light: #edead5;
    --bg4-light: #e4e1cd;
    --bg5-light: #dfdbc8;
    --grey0-light: #a4ad9e;
    --grey1-light: #939f91;
    --grey2-light: #879686;
    --shadow-light: #3c474d20;
    --text-offwhite: #fbf1c7;
    --text-offyellowish: #f2e5bc;
    --text-white: #f9f5d7;
    --text-offwhite-faded: #ebdbb2;
    --text--faded: #d5c4a1;
    --text--veryfade: #928374;
    --bg_visual_light: #eaedc8;
    --bg_red_light: #fbe3da;
    --bg_green_light: #f0f1d2;
    --bg_blue_light: #e9f0e9;
    --bg_yellow_light: #faedcd;
    --fg-light: #5c6a72;
    --light-red: #f85552;
    --light-orange: #f57d26;
    --light-yellow: #bf983d;
    --light-green: #899c40;
    --light-aqua: #569d79;
    --light-blue: #5a93a2;
    --light-purple: #b87b9d;
    --light-dim-red: #f1706f;
    --light-dim-orange: #f39459;
    --light-dim-yellow: #e4b649;
    --light-dim-green: #a4bb4a;
    --light-dim-aqua: #6ec398;
    --light-dim-blue: #6cb3c6;
    --light-dim-purple: #e092be;
    --dark-red: #9d0006;
    --dark-green: #79740e;
    --dark-yellow: #b57614;
    --dark-blue: #076678;
    --dark-purple: #8f3f71;
    --dark-aqua: #427b58;
    --dark-orange: #af3a03;
    --interface-light0-hard: #f9f5d7;
    --interface-light0: #fbf1c7;
    --interface-light0-soft: #f2e5bc;
    --interface-light1: #ebdbb2;
    --interface-light2: #d5c4a1;
    --interface-light3: #bdae93;
    --interface-light4: #a89988;
}
	
	
	
	
	
	
	
	
	
	
	
	
	.dark .dark\:prose-invert {
		/*Main Text color*/
    --tw-prose-body: #f9f5d7 ;
	
/*Block around code block  		 */
		/*Border around the code block*/
    --tw-prose-pre-bg: #16181a !important;
   
}
	
	
/*Select Models	 */
	
		#lamma-select{
		color:#fe8019 !important;
		background-color : #16181a !important ; 
		
		/*Font and other properties */
  font-family: 'JetBrains Mono Variable' !important;
		font-size: 0.9rem !important ; 
		font-weight: 600 !important ; 
	}
	
	#lamma-select > option {
  color: #b8bb26; /* Set the text color of the options */
  background-color: #16181a; /* Set the background color of the options */
		
		
		/*Font perpteis for inside the div*/
		font-family: "commitMono" !important ;
		font-size: 0.9rem !important ; 
		font-weight: 600 !important ; 	
}
	
	
	
	
	/*There is only one page here*/
	
.tracking-widest {
    letter-spacing: .1em;
	color:#79740e !important;
	font-family: "JetBrains Mono Variable" !important ; 
}
	
	
	
/* PLX API BUTTON	 */
	.dark .dark\:bg-offsetPlusDark {
    --tw-bg-opacity: 1;
		color:#cc241d !important;
    background-color: #282828 ;
}

	
/* ASK   Preplexity   hover 	 */
.whitespace-nowrap:hover{
    white-space: nowrap;
background : #3c3836 !important ; 
}
		


/* TRY perplexity button  */
	.dark .dark\:bg-superDark {
    --tw-bg-opacity: 1;
		color:#79740e !important;
    background-color: #282828 !important;
}
	
		/*Copy Button Aask perplexity PLX  And tey perplcity text button */
	.text-align-center.relative {
		color:#fe8019 !important;
		font-size: 0.8rem !important ; 
	
  font-family: 'JetBrains Mono Variable' !important;
}

	
	/*Border color*/
.dark .dark\:border-borderMainDark\/80 {
    border-color: #79740e85;
}
	
	
/*Copy Icon 	 */
	.hebEKa .icon {
		fill: #FE8019 !important;
    width: 1rem;
    height: 1rem;
}

/*Svg selctign even icon color **EVERY***/
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
	color: #fb4934 !important;
    
}
	
	
	
/*Color of hte bottom timelimnes*/
/*Tokens per second and more */
	
.tracking-wide {
	color:#FFD29C !important;

    letter-spacing: .025em;
}

/* color of the token/second 	 */
div.inline.default{
	color : #B8BB26 !important ; 
	font-size: 12px !important ; 
	font-family: "CommitMono", monospace !important ; 
	}
	
	
	
	
	
	
	
	
	
	
	

/*languuage name */
div.absolute.text-textMainDark{
	color:#f9f5d7 !important; 

	transform: translatey(-50%) !important ; 
/* padding : 0.01rem   48rem !important;  */
	}

	 
	.dark .dark\:bg-offsetPlusDark {
    --tw-bg-opacity: 1;
    color: #98971a !important;
    background-color: #282828;
		font-family: "JetBrains Mono Variable" !important ; 
		
		
}
	
	


/*CODE BLOCKS */
code{
	
  font-family: 'JetBrains Mono Variable' !important;
	font-size: 0.9rem !important; 
	font-weight: 500 !important; 
	
	line-height: 1.2rem !important ; 
	color: #fb4934 !important;
	background: #1a1b1d   !important ; 
	}

	

	/*Tokeb that indicate class or type def */
span.token.token[style="color: rgb(137, 89, 168); font-weight: bolder;"] {
  font-family: 'JetBrains Mono Variable' !important;
  font-size: 0.85rem !important;
  font-weight: 600 !important;
  color: #b8bb26 !important;
}


	/*Defined stuff in C based languages */
	
span.token.macro.property.macro-name{
  font-family: 'JetBrains Mono Variable' !important;
  font-size: 0.85rem !important;
  font-weight: 600 !important;
  color: #fb4934 !important;
}
	
	/*Comments */
	span.token.token[style*="color: rgb(142, 144, 140); font-family: inherit; font-style: italic;"] {
  font-family: 'JetBrains Mono Variable' !important;
  font-size: 0.85rem !important;
  font-weight: 600 !important;
  color: #928374 !important;
}
	
	
	
	/*Funcion names and argments in C based langauges */
	span[style*="color: rgb(77, 77, 76);"] {
	color : #83a598 !important ; 
		font-family: "JetBrains Mono Variable" !important; 
  position: relative;
}
	
	
		/*Libraries in C based languages*/
		span.token.token.macro.property[style="color: rgb(113, 140, 0);"]{
  font-family: 'JetBrains Mono Variable' !important;
  font-size: 0.85rem !important;
  font-weight: 600 !important;
  color: #fe8019 !important;
}
	
	
	
	/*Not sure about this may change this  later*/
	/*Code direcgive first token */
span.token.directive{
  font-family: 'JetBrains Mono Variable' !important;
font-size: 0.85rem !important; 
	font-weight: 600 !important;
	color:#70a85b !important;
}
	
	
	
	
	
	

/*Code attribute values*/
span.token.attr-value{
  font-family: 'JetBrains Mono Variable' !important;
font-size: 0.9rem !important; 
	font-weight: 600 !important;
	color:#7c6f64 !important;
}


/*Realted to code -> self explanorty*/
code span.token.punctuation{
  font-family: 'JetBrains Mono Variable' !important;
	font-size: 0.9rem !important; 
	font-weight: 500 !important;
	color:#fb4934 !important;
}

	



/*operators in code*/
code span.token.operator{
  font-family: 'JetBrains Mono Variable' !important;
font-size: 1rem !important; 
	font-weight: 900 !important;
	color: #fe8019 !important;
}

/*BOOLEAN */
span.token.boolean{
  font-family: 'JetBrains Mono Variable' !important;
	color: #8ec07c !important;
	font-size: 0.85rem !important; 
	font-weight: 500 !important;
}




	
	



/*Code bg wrapper*/
.codeWrapper>:nth-child(2) {
background-color: #1d2021 !important;
}


	
    

/*List numbers  */
	li::marker{
		color : #FB4934 !important ; 
  font-family: 'JetBrains Mono Variable' !important;
	}
	
	
	/* LLM served by Perplexity  labs */
div.light.font-sans.text-base.font-medium.text-textOff{
	color : #fe8019 !important  ; 
	
}







/*Lower seperator*/
/*Ask anything user input seperator*/
:not([hidden]) ~ :not([hidden])  { 
    border-color: #3c3836 !important;
} 






/*Black input area and text reponse area  **ASK ANYTHING AREA***/
.dark\:bg-offsetDark  { 
    --tw-bg-opacity: 1; 
    background-color:#16181A !important;
} 
	/*Hover styles for the Black input area */
.dark\:bg-offsetDark:hover{ 
    --tw-bg-opacity: 1; 
    background-color:#16181a !important;
	
}
	
	


/*BOrder around the app*/
.dark\:border-borderMainDark\/80  { 
    border-color: #79740ead !important;
} 
  


/*Lower part of the bg color*/

.dark\:bg-backgroundDark  { 
    --tw-bg-opacity: 1; 
    background-color: #17191b !important;
} 



/*MAIN MIDDLE CODE BLOCK COLOR */
div.sc-gEvEer.ePundr >span{
	background: #282828 !important ; 
}
	
	










/*External links in the chat :visited  */
a.break-word.decoration-from-font.underline.underline-offset-1{
	color: #fb4934 !important; 
	
}
	
/* Hover in links 	 */
a.break-word.decoration-from-font.underline.underline-offset-1:hover{
	color: #b8bb26 !important; 
	
}



/*Formatting change */

	h2{
color: #98971a !important ; 
		font-family: "Bricolage Grotesque" !important ; 
	}

/*BOLD TEXT   */
	.prose :where(strong):not(:where([class~=not-prose] *)) 
{

	font-size: 1rem !important; 
    font-weight: bolder;
 color : #fe8019 !important; 
	font-family: "Jetbrains Mono Variable" !important ; 
}





/*Html background  is same as the main color   */
	html {
		background-color : #1a1b1d !important ; 
	}






/*Input text that you enter   */
	textarea {
		 
		color : #d5c4a1 !important ; 
		font-family: "Literata Variable" !important ; 
	}

 
/* H3 energy	 */
	h3{
		color : #79740e !important ; 
		font-family: "Bricolage Grotesque" !important ; 
	}


	
	
	/*H4 heading */
	h4{
		color : #83A598 !important  ; 
		font-family: "Bricolage Grotesque" !important ; 
	}
	
	
	
	
	
	
	
/* 	Italic font for the empahsis  */
	em{
		color  : #98971A !important ; 
		font-family: "Bricolage Grotesque" !important ; 
	}




/*  prompt amd response color*/

.\[word-break\:break-word\] {
    word-break: break-word;
	color : #ffd29c  !important;

	
	}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*Table styles */
	
	/*Table header */
	th.px-sm.py-sm.whitespace-nowrap{
	color : #FE8019 !important ; 
		font-family: "Bricolage Grotesque" !important ; 
	
	}
	
	/*Table contenet*/
	td.px-sm.border.border-borderMain {
		color :#ABAA1E !important ; 
		font-family: "Bricolage Grotesque" !important ; 
	}
	
	
	
	
	
	
	
	
	
	
	


	
	
}

